extends base


block content 
    .container-fluid 
        .row 
            .col-md-4.profile-card
                .card
                    .card-header.text-primary
                        h3 Dashboard 
                    .card-body.container-fluid
                        .row.mb-3.d-flex.justify-content-center
                            .col-md-6.mx-5.p-3
                                img.img-fluid(src=`/img/users/${user.photo}` alt='user photo' style='width:100px; height:100px; border-radius:50%')
                        .row.d-flex.justify-content-center
                            .col-md-10.mx-4
                                h5.card-title= user.username
                                p.card-text(style="font-size: 15px")= user.email
                                p.card-text(style="font-size: 15px")= user.phone
                                p.card-text(style="font-size: 15px; font-weight: 700") Date of Birth :
                                p.card-text(style="font-size: 13px")= user.dateOfBirth.toDateString()
                                a.btn.btn-danger(href='/api/v1/users/signout' style="text-decoration: none;") Logout
                    
            .col-md-7.border.border-black.bg-light
                .container-fluid(style="width=100%")                
                    .row.mb-5#bookings
                        table(style="width=100%")
                            tr
                                th(colspan="8").text-center.bg-secondary.p-2 Bookings
                            tr(style="border-bottom: 3px solid grey;")
                                th User
                                th Service
                                th Mpesa Receipt No.
                                th Price(Ksh)
                                th Date
                                th Time
                                th Booking Receipt
                            each booking in userBookings
                                tr
                                    td= booking.user.username
                                    td= booking.service.name
                                    td= booking.MpesaReceiptNumber
                                    td= booking.price
                                    td= booking.appointment.toLocaleDateString('tr-Tr', {year: 'numeric',month: '2-digit',day: '2-digit'})
                                    td= booking.appointment.toLocaleTimeString()
                                    td 
                                        a(href=`/api/v1/bookings/${booking._id}/receipt` style="height: 25px; font-size: 15px; padding:3px; text-decoration: none").btn.btn-success.px-3 view
                                    
                    a(href="/api/v1/bookings").btn.btn-outline-primary.my-2.mx-5 New Booking