extends base


block content 
    .container-fluid 
        .row 
            .col-md-4
                .card 
                    .card-header.text-primary
                        h3 Dashboard 
                    .card-body.container-fluid
                        .row.mb-3.d-flex.justify-content-center
                            .col-md-6.mx-5.p-3
                                img.img-fluid(src=`/img/users/${user.photo}` alt='user photo' style='width:100px; height:100px; border-radius:50%')
                        .row.d-flex.justify-content-center
                            .col-md-10.mx-4
                                h5.card-title= user.username
                                p.card-text(style="font-size: 15px")= user.email
                                p.card-text(style="font-size: 15px; font-weight: 700") Date of Birth :
                                p.card-text(style="font-size: 13px")= user.dateOfBirth.toDateString()
                                a.btn.btn-danger(href='/api/v1/users/signout' style="text-decoration: none;") Logout
                    
            .col-md-7.border.border-black
                .container-fluid(style="width=100%")                
                    .row.mb-5#bookings
                        table(style="width=100%")
                            tr
                                th(colspan="8").text-center.bg-secondary.p-2 Bookings
                            tr(style="border-bottom: 3px solid grey;")
                                th User
                                th Booked At
                        
                                th Service
                        
                                th Price(Ksh)
                                th Recipt   
                            each booking in userBookings
                                tr
                                    td= booking.user.username
                                        
                                    td= booking.createdAt.toLocaleDateString()
                                
                                    td= booking.service.name
                                
                                    td= booking.price
                                    td
                                        a(href="#" style="height: 25px; font-size: 15px; padding:3px; text-decoration: none").btn.btn-outline-success.px-3 download
                                    
                    .btn.btn-outline-success Full statement