extends base

block content 
    .container
        .row 
            .card.card-register.mx-md-5.mt-5.d-flex.justify-content-center
                .card-header.text-success.text-center
                    h4 Lipa na Mpesa
                .card-body.p-md-5
                    form(action=`/api/v1/bookings/${service._id}` method='POST')
                        p Enter your Mpesa when prompted.
                        .form-group
                            input.form-control(type='text' name='phone' value=`${user.phone}` )
                        .form-group
                            .px-md-5 
                                input#InputName.form-control(required type='text' name="service" aria-describedby='nameHelp' value=`${service._id}` hidden)
                        .form-group 
                            .px-md-5
                                input#price(required type="number" name="amount" min="0" max="100000" value=`${service.price}` hidden)
                        .form-group 
                            .px-md-5
                                input#price(required type="text" name="user" min="0" max="100000" value=`${user._id}` hidden)
                        
                        input.btn.btn-success.btn-block.mt-3.p-2(type="submit" value="Proceed")

                