extends base

block content
  .container-fluid 
    .row.profile-settings.pb-5
      .col-md-12.my-4.bg-light.text-black
        form.p-5(action="/api/v1/users/update-profile" method="POST" enctype="multipart/form-data")
          legend.text-primary.text-center.m-3(style="font-weight: 900") Update Profile
          .row
            .form-group.col-md-6
              label.my-2(for='photo') profile pic
              .px-md-3
                input(type='file', name="photo", id="photo")
          
            .form-group.col-md-6
              label.my-2(for='InputName') Full Name
              .px-md-5 
                input#InputName.form-control(type='text', name="username" aria-describedby='nameHelp', placeholder='Enter full name', value=`${user.username}`)
          .row
            .form-group.col-md-6
              label.my-2(for='InputEmail1') Email address
              .px-md-5
                input#InputEmail1.form-control(type='email', name="email" aria-describedby='emailHelp', placeholder='Enter email', value=`${user.email}`)
            .form-group.col-md-6
              label.my-2(for='phone') Phone
              .px-md-5
                input#phone.form-control(type="tel", name="phone" placeholder="Enter phone number" value=`${user.phone}`)
          .row
            .form-group.col-md-6
              label.my-2(for='date_of_birth') Date of Birth
              .px-md-5
                input#date_of_birth.form-control(type='date', name="dateOfBirth" aria-describedby='emailHelp', min='1900-01-01', max=`${new Date().getFullYear() - 18}-${new Date().getMonth()}-${new Date().getDate() - 1}`, placeholder='Enter date of birth', value=`${user.dateOfBirth.toISOString().split('T')[0]}`)
          
            .form-group.col-md-6
              input.btn.btn-primary.btn-block.my-5(type="submit", value="Update Profile")